In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
"""import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

import string
import nltk
from nltk.corpus import stopwords
from TurkishStemmer import TurkishStemmer"""

In [24]:
bp_data = pd.concat([pd.read_csv('./Beyazperde/train.csv', encoding='windows-1254'), pd.read_csv('./Beyazperde/test.csv', encoding='windows-1254')])[['comment', 'Label']]
bp_data.columns = ['text', 'label']
bp_data.head()

                                                text  label
0  biri bana bu filmde benim anlamadigim bisey ol...      0
1  ya çocuklar ilk filmin sonunda büyüdüler ya bu...      1
2  film biraz daha uzun sürse harbi kiyameti göre...      0
3  pek orjinal bi cinayet yok ama orjinal oyuncul...      0
4  film tek kelimeyle muhtesemdi heleki sonundaki...      1

In [3]:
temp = bp_data.value_counts(['Label'], normalize=True, sort=True)
temp

Label
0        0.5
1        0.5
dtype: float64

In [26]:
review_df = pd.concat([pd.read_csv('./Değerlendirme/train.csv', encoding='utf-8'), pd.read_csv('./Değerlendirme/test.csv', encoding='utf-8'),
                       pd.read_csv('./Değerlendirme/dev.csv', encoding='utf-8')])[['text', 'label']]
review_df.head()

                                                text  label
0                          Servisi hizli valesi var.      1
1          Yemekleri çok lezzetli, manzara mükemmel.      1
2  Yemege gelince ise tatsiz tutsuz bir yemekti b...      0
3                               çorbasi soguk geldi.      0
4  Bana sushiyi sevdiren tek yer diyebilirim çalı...      1

In [5]:
temp = review_df.value_counts(['label'], normalize=True, sort=True)
temp

label
1        0.518742
0        0.481258
dtype: float64

In [27]:
hate_df = pd.concat([pd.read_csv('./Hate/train.csv', encoding='utf-8'), pd.read_csv('./Hate/test.csv', encoding='utf-8'),
                     pd.read_csv('./Hate/valid.csv', encoding='utf-8')])[['text', 'label']]
hate_df['label'].replace({0:1, 1:0}, inplace=True)
hate_df.head()

                                                text  label
0  Gerçekten sizin hikayelerinizi izleyerek mi ye...      1
1            @USER Çoook çok bi baklava bi sen zaten      1
2  1) Sn. DÜKEL; Atatürk'ün, Karma E. M. ile başl...      1
3  Konfederasyonumuzun Aile ve Sosyal Politikalar...      1
4  Hakemler tarih yazıyorlar / 9 kişiye karşı 3-2...      0

In [7]:
temp = hate_df.value_counts(['label'], normalize=True, sort=True)
temp

label
0        0.536308
1        0.463692
dtype: float64

In [21]:
hate2_df = pd.read_csv('./Hate2/clean_data.csv', encoding='utf-8')[['clean_data', 'label']]
hate2_df['label'] = 0
hate2_df.rename(columns={'clean_data':'text'}, inplace=True)
hate2_df.head()

                                                text  label
0            alti kendine erkegim demesin diyen kasa      0
1  feminen bir erkek neden olamiyorsun neden ben ...      0
2  kizlar boyle tirnagi olmayan da kendine kizim ...      0
3  sik olmali kadin dedigingelisi gulusu bakisi d...      0
4   cokta de demek icin erkek olmak isterdim cok ...      0

In [30]:
tweet_1 = pd.read_csv('./turkish-tweets-sentiment-analysis-main/data/TurkishTweets.csv')
tweet_1['Etiket'].replace({"kızgın": 0, "korku": 0, "mutlu": 1,
                        "surpriz": 1, "üzgün": 0}, inplace=True)
tweet_1.rename(columns={'Tweet':'text', 'Etiket':'label'}, inplace=True)
tweet_1.head()

                                                text  label
0  Allah'ım çıldıracağım. Yemin ederim çıldıracağ...      0
1  site ne zaman çalıştıda ürün stokları bitti di...      0
2    Sebebi neydi ki diye bağıracağım şimdi az kaldı      0
3  Black friday ne amk bu yıl çıkardınız bu bokud...      0
4  kısa kısa cevaplar vericeksen niye yazıyorsun ...      0

In [31]:
temp = tweet_1.value_counts(['label'], normalize=True, sort=True)
temp

label
0        0.6
1        0.4
dtype: float64

In [34]:
tweet_2 = pd.read_csv('./turkish-tweets-sentiment-analysis-main/data/tweetset.csv', encoding='windows-1254')[['Paylaşım', 'Tip']]
tweet_2['Tip'].replace({"Pozitif": 1, " Negatif": 0, "Negatif": 0 }, inplace=True)
tweet_2.rename(columns={'Paylaşım':'text', 'Tip':'label'}, inplace=True)
tweet_2 #Looks

                                                    text  label
0                          Doğa ağzımıza sıçsa hakkı var      0
1      Anne bir sanatçıdır, en güzel eseri de yavrusu...      1
2       ibrahimin oğlunu koruyan Tanrı’ya da ben sokayım      0
3            Köpeğim suratına sıçsın senin namussuz karı      0
4                    Ben söğüşledim, birazda sen söğüşle      0
...                                                  ...    ...
11106  eğer gidip bir aynaya bakarsanız orada en büyü...      0
11107                           Asıl fahişe senin beynin      0
11108     Sorsak bir numaralı müslümandır sıfatsız herif      0
11109                          surata bak lenetlenmiş oç      0
11110  Allah’ ın din tüccarları sizi. Bir insana ifti...      0

[11111 rows x 2 columns]

In [36]:
tweet_1.to_csv('tweets.csv')

In [37]:
conc = pd.concat([tweet_1, bp_data, review_df])
conc

                                                  text  label
0    Allah'ım çıldıracağım. Yemin ederim çıldıracağ...      0
1    site ne zaman çalıştıda ürün stokları bitti di...      0
2      Sebebi neydi ki diye bağıracağım şimdi az kaldı      0
3    Black friday ne amk bu yıl çıkardınız bu bokud...      0
4    kısa kısa cevaplar vericeksen niye yazıyorsun ...      0
..                                                 ...    ...
100  Sosyal medyada ünlü olduktan sonra kaliteyi dü...      0
101         Dekorasyonu renkleri cok sicak ve sevimli.      1
102  Yenmeyecek kadar kötü kebaplari, ukala garsonu...      0
103  Etler malzeme, marinasyon, pişirme ve sunum aç...      1
104             Gece, gündüz, her zaman için öneririm.      1

[19464 rows x 2 columns]

In [38]:
conc.to_csv("three_source.csv")